.site_content

    main.container.post_tiles

        article.short_post

            aside.short_post__meta

                .poster(style="background-image: url(../assets/img/poster.jpg)")

                .post_stat

                    .post_stat__item.views
                        i.icon.fa.fa-search(aria-hidden="true")
                        | 562

                    .post_stat__item.likes
                        i.icon.fa.fa-heart(aria-hidden="true")
                        | 326

                    .post_stat__item.comments
                        i.icon.fa.fa-comment(aria-hidden="true")
                        | 14


            section.entry_wrapper

                .entry

                    header.entry__header Battlefield

                    .entry__content

                        .entry__tags
                            a.entry__tag action
                            a.entry__tag shooter

                        ul.entry__fields
                            li.entry__fields__item
                                span.label Страна:
                                a
                                    span.text США

                            li.entry__fields__item
                                span.label Год:
                                a
                                    span.text 2016

                        .entry__text Battlefield 1 Революция* дает вам ощутить зарю мировых войн, где нет двух одинаковых боев. Вступайте в ряды игроков и играйте по-новому, получив доступ к новым картам, новым режимам и новым конфликтам.



        article.short_post

            aside.short_post__meta

                .poster(style="background-image: url(../assets/img/poster.jpg)")

                .post_stat

                    .post_stat__item.views
                        i.icon.fa.fa-search(aria-hidden="true")
                        | 562

                    .post_stat__item.likes
                        i.icon.fa.fa-heart(aria-hidden="true")
                        | 326

                    .post_stat__item.comments
                        i.icon.fa.fa-comment(aria-hidden="true")
                        | 14


            section.entry_wrapper.left_entry_wrapper

                .entry

                    header.entry__header Battlefield

                    .entry__content

                        .entry__tags
                            a.entry__tag action
                            a.entry__tag shooter

                        ul.entry__fields
                            li.entry__fields__item
                                span.label Страна:
                                a
                                    span.text США

                            li.entry__fields__item
                                span.label Год:
                                a
                                    span.text 2016

                        .entry__text Battlefield 1 Революция* дает вам ощутить зарю мировых войн, где нет двух одинаковых боев. Вступайте в ряды игроков и играйте по-новому, получив доступ к новым картам, новым режимам и новым конфликтам.