.site_content

    .container

        .search_form.flex-start-start

            input.wo-input.search_form__field(type="text" value="" placeholder="Поиск..")

            .search_extra_tabs.flex-start-center

                .extra_tab.dropdown

                    .dropdown_label Искать в

                    ul.dropdown_menu.visible
                        li.dropdown_menu__item.dropdown_menu__item-checked
                            | Написать
                        li.dropdown_menu__item
                            | Редактировать
                        li.dropdown_menu__item
                            | Удалить
                        li.dropdown_menu__item
                            | Пожаловаться


                .extra_tab.dropdown

                    .dropdown_label Раздел

                    ul.dropdown_menu
                        li.dropdown_menu__item
                            | Написать
                        li.dropdown_menu__item
                            | Редактировать
                        li.dropdown_menu__item
                            | Удалить
                        li.dropdown_menu__item
                            | Пожаловаться


                .extra_tab.dropdown

                    .dropdown_label Время

                    ul.dropdown_menu
                        li.dropdown_menu__item
                            | Написать
                        li.dropdown_menu__item
                            | Редактировать
                        li.dropdown_menu__item
                            | Удалить
                        li.dropdown_menu__item
                            | Пожаловаться