nav.pagination

    ul.pagination__list

        li.item
            a.page_number 1

        li.item
            a.page_number 2

        li.item.item-active
            a.page_number 3

        li.item
            a.page_number 4

        li.item.item_unactive
            span.page_number ..

        li.item
            a.page_number 15
