.sidebar

    nav.menu

        ul

            li.menu__item
                a
                    i.fa.fa-film(aria-hidden="true")
                    |Фильмы
            li.menu__item.menu__item_active
                a
                    i.fa.fa-gamepad(aria-hidden="true")
                    | Игры
            li.menu__item
                a
                    i.fa.fa-music(aria-hidden="true")
                    | Музыка
            li.menu__item
                a
                    i.fa.fa-newspaper-o(aria-hidden="true")
                    | Новости

    nav.menu

        ul

            li.menu__item
                a
                    span.point
                    | Киноновинки

            li.menu__item
                a
                    span.point.point_yellow
                    | Популярные игры

            li.menu__item
                a
                    span.point.point_orange
                    | Новые треки

            li.menu__item
                a
                    span.point.point_violet
                    | Новости дня


    .updates

        a.updates__item

            i.fa.fa-clock-o(aria-hidden="true")
            .news
                .text <b>Keep</b> us running by whitelisting JSFiddle in your ad blocker.
                time.time(datetime="2017-09-11") 15минут назад

        a.updates__item

            i.fa.fa-clock-o(aria-hidden="true")
            .news
                .text <b>Dropdowns</b> are toggleable, contextual overlays for displaying lists of links and more
                time.time(datetime="2017-09-11") 15минут назад
